---
import Layout from "../layouts/Layout.astro";
import UnderConstruction from "../components/UnderConstruction.astro";
---

<Layout title="Blog - Jacqueline Rühl Photography">
  <div class="flex justify-center">
    <h1 class="my-4 py-2 text-center text-3xl font-bold">Blog</h1>
  </div>
  <UnderConstruction />
</Layout>
