---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.vue";
---

<Layout title="Kontakt - Jacqueline Rühl Photography">
  <div class="flex justify-center">
    <h1 class="my-4 py-2 text-center text-3xl font-bold">Kontakt</h1>
  </div>
  <ContactForm />
</Layout>
