---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum - Jacqueline Rühl Photography">
  <section class="text-gray-700 body-font my-4">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-4">
      Impressum
    </h1>
    <h2 class="text-2xl font-medium title-font text-gray-900 mb-3">
      Angaben gemäß § 5 TMG:
    </h2>
    <p class="leading-relaxed mb-4">
      Jacqueline Rühl<br />
      Zum Apothekerhof 6<br />
      60594 Frankfurt
    </p>
    <h2 class="text-2xl font-medium title-font text-gray-900 mb-3">Kontakt:</h2>
    <p class="leading-relaxed mb-4">
      Telefon: 069-1234567<br />
      E-Mail: jacquelineruehl@gmx.de
    </p>

    <h2 class="text-2xl font-medium title-font text-gray-900 mb-3">
      Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
    </h2>
    <p class="leading-relaxed mb-4">Jacqueline Rühl</p>
  </section>
</Layout>
