---
import Layout from "../layouts/Layout.astro";
import UnderConstruction from "../components/UnderConstruction.astro";
---

<Layout title="Jacqueline Rühl Photography">
  <div class="flex justify-center">
    <h1 class="text-center text-3xl font-bold py-2 my-4">Jacky's Seite</h1>
  </div>

  <UnderConstruction
    text="Hallo, ich bin Jacky und ich fotografiere gerne. Hier entsteht meine neue Webseite. Schau bald wieder vorbei!"
  />
</Layout>
