---
import Layout from "../layouts/Layout.astro";
// This is Astro's frontmatter
// here you can write regular TypeScript or JavaScript
// It will only run on the server and never executes client-side
//import Food from "../components/food.vue";
import Navigation from "../components/navigation.vue";

---

<Layout title="Welcome to Astro.">
  <header>
    <Navigation client:load />
  </header>
  <main>
    <h1>Food I like:</h1>
    
  </main>
</Layout>