---
import { Image } from "astro:assets";
import logoImage from "../img/logo.jpg";
---

<div class="flex max-w-screen-xl m-auto">
  <Image src={logoImage} alt="Jacqueline Rühl Photography" loading={"eager"} />
</div>
