---
import { Image } from "astro:assets";
import logoImage from "../img/logo.jpg";
---

<div class="flex max-w-screen-xl m-auto">
  <Image
    width="1280"
    height="330"
    widths={[240, 540, 720, 1280]}
    src={logoImage}
    alt="Jacqueline Rühl Photography"
    loading={"eager"}
  />
</div>
