---
import SpeedInsights from "@vercel/speed-insights/astro";
import HeaderImage from "../components/headerimage.astro";
import Navigation from "../components/navigation.vue";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

const pathname = Astro.request.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <HeaderImage />
      <Navigation currentPath={pathname} client:load />
    </header>
    <main class="max-w-screen-xl m-auto">
      <slot />
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>
../components/navigation.vue
